/* * {
  margin: 0 auto;
  color: white;
}




h1 {
  font-size: 55px;
}

h2 {
  font-size: 22px;
  padding-bottom: 5px;
}
*/

/* button {
  width: 25px;
  background-color: white;
  border: none;
} */

body {
  background-color: rgb(255, 255, 255);
}

.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#timer {
  background-color: rgba(0, 0, 0, 0.705);
  border: 3px solid rgba(68, 68, 68, 0.61);
  border-radius: 10px;
  width: 300px;
}

#timer p {
  position: absolute;
  margin-left: 120px;
  margin-top: 4px;
  color: rgb(255, 0, 0);
  font-weight: bold;
  animation: glow 1.5s ease-in-out infinite alternate;
}

@keyframes glow {
  0% { opacity: 0; }
  100% { opacity: 1; }
}

#time-left {
  margin: 15px auto;
  font-size: 5rem;
  font-weight: bold;
  color: white;
}

.dual-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: 500px;
  margin: auto;
  justify-content: center;
  align-items: center;
}

.dual-container h3 {
  font-size: 22px;
}

.buttons {
  margin: -35px 0 10px;
  display: grid;
  grid-template-columns: 50px 200px 50px;
  justify-items: center;
  align-items: center;
}

.buttons h3 {
  font-size: 30px;
}

.waves-effect {
  box-shadow: transparent;
  transition: box-shadow .03s ease-in;
}

.waves-effect:hover {
  box-shadow: 0px 2.5px 1px rgba(0, 0, 0, 0.521);
}

.waves-red, .waves-green {
  margin-top: 15px;
}

.waves-red {
  margin-left: 100px;
}

.waves-red:hover {
  background-color: rgba(255, 0, 0, 0.712);
}

.waves-green {
  margin-right: 100px;
}

.waves-green:hover {
  background-color: rgba(0, 255, 0, 0.63);
}

.waves-light {
  margin: 10px 12px;
  background-color: rgba(224, 224, 224, 0.664);
}

.waves-light:hover {
  background-color: rgb(83, 206, 255);
}

@media screen and (max-width: 580px) {
  .dual-container {
    display: flex;
    flex-direction: column;
    margin: auto;
    justify-content: center;
    align-items: center;
  }
}

/*

 
#timer {
  width: 300px;
  height: auto;
  padding: 15px;
  background-color: rgb(0, 0, 85);
  border: 2px solid rgb(0, 255, 255);
  border-radius: 20px;
}

#time-left {
  margin-top: -10px;
  font-size: 70px;
  font-weight: bold;
}

#timer-control {
  padding: 20px 0;
} */